.jumbotron {
	
	height: 583px;
	background-color:#1A86A4;
	color: white;
	margin-top: 50px;
}
.btn {
	background-color:#1A86A4; 
	color: white;
}
 footer {
 	background-color:white;
 	padding: 10px 20px 20px 20px;
 	margin-bottom: 20px;
 	margin-top: 20px;
 }
 .card-hotel {
 	flex: 1 200px;
 	padding: 2px 0px 2px 0px; 
 	margin-top: 10px;
 }
 .btn-reserva {
 	width: 100px;
 	border-radius: 0px;
 }
